.login_page {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login_form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.login_form > button,
.login_form > input {
	height: 30px;
}

.login_form > input {
	padding-left: 4px;
}

.login_form_wrapper {
	width: 400px;
	border: 1px solid;
	border-radius: 10px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: absolute;
}

.login_form_wrapper > p {
	text-align: center;
}

.login_form_wrapper > p > a {
	color: blue;
}
