/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a {
	color: black;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	position: relative;
	color: black;
	height: 100vh;
	font-family: sans-serif;
	overflow-y: hidden;
	display: flex;
}

.center_content_page {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.column_form {
	display: flex;
	flex-direction: column;
}
