:root {
	--blue: #aceafb;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a {
	color: black;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	position: relative;
	color: black;
	height: 100vh;
	font-family: sans-serif;
	overflow-y: hidden;
	display: flex;
}

.center_content_page {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.column_form {
	display: flex;
	flex-direction: column;
}

.column_form > input {
	padding-left: 4px;
	border: 1px solid gray;
}

.column_form > input,
.column_form > button {
	border-radius: 10px;
	font-size: 14px;
}

.column_form > button {
	border: none;
	background-color: var(--blue);
}

.general_page {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	background-color: var(--blue);
	justify-content: space-between;
}

.header .user_part {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header .user_part button {
	padding: 10px;
	background-color: brown;
	border: none;
	color: white;
}

.search {
	display: flex;
	align-items: center;
}

.search img {
	max-width: 100%;
}

.search button {
	width: 30px;
	background: none;
	border: none;
}
